body{
    text-align: left
}


.bg {
    background-color: white;
    background-size: cover;
}


img {
    text-align: left;
    width: 30%;

}


a   {
        color: black;
        font-size: 100%;
        font-family: Arial Black;
        text-align:center;
}


h1  {
    
    text-align: right;
    color: black;
    font-style: italic;
}

h2  {
    font-family: sans-serif;
    font: Helvetica;
    text-align: right;
    color: black;
    font-style: bold;
    font-size: 90%
}

